<div class="container p-2 sticky top-0 pl-5 bg-gray-900 font-mono text-white">
    <nav class="flex justify-between pb-1">
        <div class="right hover:text-amber-200 cursor-pointer">Data Passing App</div>
        <div class="left flex gap-3 mr-5">
            <a routerLink="" routerLinkActive="myactive" [routerLinkActiveOptions]="{exact:true}" class="hover:underline hover:text-amber-200">Home</a>
            <a routerLink="error" routerLinkActive="myactive" class="hover:underline hover:text-amber-200">NgContent</a>
            <a routerLink= "ok" routerLinkActive="myactive" class="hover:underline hover:text-amber-200">Contact</a>
            <a routerLink="login" routerLinkActive="myactive" class="hover:underline hover:text-amber-200">Login</a>
            <a routerLink="/parent" routerLinkActive="myactive" class="hover:underline hover:text-amber-200">Parent</a>
        </div>
    </nav>
</div>
